header {
  font-family: georgia;
  font-size: 32px;
  text-align: center; }

.container {
  display: block;
  text-align: center; }
  .container ul {
    text-align: center; }
  .container li {
    display: inline-block; }

.homepage, .firstalbum, .secondalbum, .thirdalbum {
  display: none; }

.currentPage {
  display: block; }
